{% extends 'base.html' %}
{% load static %}

{% block content %}     
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Listado de Tareas Disponibles</h4>
                  <p class="card-category">Este es un listado de todas las tareas disponibles que se pueden asignar a un usuario</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Id Tarea
                        </th>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Descripción
                        </th>
                        <th>
                          Fecha Plazo
                        </th>
                        <th>
                          Acciones
                        </th> 
                      </thead>
                      <tbody>
                        <tr>
                            <!--Estos td van de ejmplo para ver como quedan los botones sin data-->
                            <td class="text-primary">
                              1
                            </td>
                            <td class="text-primary">
                              Tarea 1
                            </td>
                            <td class="text-primary">
                              Descripción Tarea 1
                            </td>
                            <td class="text-primary">
                              01-01-2022
                            </td>
                          <td class="text-primary">
                            <a href="{% url 'AsignarTareaUsuarioSection' %}" class="btn btn-success">Asignar Tarea</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<script>
    function confirmOption(opcion, direccion){
    if(confirm("Esta seguro que desea "+ opcion)){
      window.location.href = direccion;
    }
  }
</script>
{% endblock %}