{% extends 'base.html' %}
{% load static %}

{% block content %}     
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Listado de Tareas Disponibles</h4>
                  <p class="card-category">Este es un listado de todas las tareas disponibles que se pueden asignar a un usuario</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Id Tarea
                        </th>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Descripción
                        </th>
                        <th>
                          Fecha Plazo
                        </th>
                        <th>
                          Acciones
                        </th> 
                      </thead>
                      <tbody>
                        {% for task in data.task %}
                          <tr>
                              <!--Estos td van de ejmplo para ver como quedan los botones sin data-->
                              <td class="text-primary">
                                {{task.idTarea}}
                              </td>
                              <td class="text-primary">
                                {{task.nombreTarea}}
                              </td>
                              <td class="text-primary">
                                {{task.descripcionTarea}}
                              </td>
                              <td class="text-primary">
                                {{task.fechaPlazo}}
                              </td>
                            <td class="text-primary">
                              <a href="{% url 'AsignarTareaUsuarioSection' idTask=task.idTarea %}" class="btn btn-success">Asignar Tarea</a>
                              {% comment %} <a href="{% url 'UpdateUserSection' idUser=users.rutUsuario %}"><i class="material-icons">cached</i></a> {% endcomment %}
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<script>
    function confirmOption(opcion, direccion){
    if(confirm("Esta seguro que desea "+ opcion)){
      window.location.href = direccion;
    }
  }
</script>
{% endblock %}