{% extends 'PDF/base.html' %}
{% load static %}

{% block content %}
<table class="default">
  <tr>
    <th>Nombre Tarea</th>
    <th>Descripcion</th>
    <th>Prioridad</th>
    <th>Estado</th>
    <th>Tarea</th>
  </tr>
  {%for tarea in tareasSubordinadas %}
  <tr>
    <td>
      <p>{{tarea.tareaSubordinada.nombreSubordinada}}</p>
    </td>
    <td>
      <p>{{tarea.tareaSubordinada.descripcionSubordinada}}</p>
    </td>
    <td>
      <p>{{tarea.tareaSubordinada.fkPrioridadTarea}}</p>
    </td>
    <td>
      <p>{{tarea.tareaSubordinada.fkEstadoTarea}}</p>
    </td>
    <td>
      <p>{{tarea.tareaSubordinada.fkIdTarea}}</p>
    </td>
  {% endfor %}
</table>
{% endblock %}
