{% extends 'PDF/base.html' %}
{% load static %}

{% block content %}
<table class="default">
  <tr>
    <th>Rut Empleado</th>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Numero Telefono</th>
    <th colspan="2">Correo Electronico</th>
    <th>Rol</th>
    <th>Unidad Interna</th>
  </tr>
  {% for usuario in empleados %}
  <tr>
    <td><p>{{usuario.user.rutUsuario}}</p></td>
    <td><p>{{usuario.user.nombreUsuario}} {{usuario.user.segundoNombre}}</p></td>
    <td><p>{{usuario.user.apellidoUsuario}} {{usuario.user.segundoApellido}}</p></td>
    <td><p>{{usuario.user.numTelefono}}</p></td>
    <td colspan="2"><p>{{usuario.user.correoElectronico}}</p></td>
    <td><p>{{usuario.user.idRolUsuario}}</p></td>
    <td><p>{{usuario.user.idUnidadInternaUsuario}}</p></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
