{% extends 'base.html' %}
{% load static %}

{% block content %}     
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Listado de Empleados</h4>
                  <p class="card-category">Este es un listado con todos los usuarios del Sistema</p>
                  <div class="card-content md-12 offset-md-9">
                    <td class="text-primary">
                      <a href="{% url 'AddUserSection' %}"><button class="btn btn-success">Crear Usuario  <i class="material-icons">group_add</i></button></a>
                    </td>
                  </div>
                  
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Rut
                        </th>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Apellido
                        </th>
                        <th>
                          Numero Telefono
                        </th>
                        <th>
                          Correo Electronico
                        </th>
                        <th>
                          Cargo
                        </th>
                        <th>
                          Acciones
                        </th>
                      </thead>
                      <tbody>
                        {% for users in data.users %}
                          <tr>
                            <td>
                              {{users.rutUsuario}}
                            </td>
                            <td>
                              {{users.nombreUsuario}}
                            </td>
                            <td>
                              {{users.apellidoUsuario}}
                            </td>
                            <td>
                              {{users.numTelefono}}
                            </td>
                            <td class="text-primary">
                              {{users.correoElectronico}}
                            </td>
                            <td class="text-primary">
                              {% if users.idRolUsuario == 1 %}
                                  Administrador
                              {% elif users.idRolUsuario == 21 %}
                                  Desarrollador 
                              {% elif users.idRolUsuario == 23 %}
                                  WEA2
                              {% elif users.idRolUsuario == 41 %}
                                  Secretario
                              {% endif %}

                              {{users.idRolUsuario}}
                            </td>
                            <td class="text-primary">
                              <a href="{% url 'AddUserSection' %}"><i class="material-icons">group_add</i></a>
                              <a href="#" onclick="confirmOption('eliminar', 'deleteUserSection/{{users.rutUsuario}}')" ><i class="material-icons">delete</i></a>
                              <a href="{% url 'UpdateUserSection' idUser=users.rutUsuario %}"><i class="material-icons">cached</i></a>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<script>
  function confirmOption(opcion, direccion){
    if(confirm("Esta seguro que desea "+ opcion)){
      window.location.href = direccion;
    }
  }
</script>
{% endblock %}